{% extends "home.html" %}

{% block content %}
<p name="loading"></p>
<p id="demo">
  The upload was
  {{term}}.
  <br>
      {% if success == True %}

        <br>
        The <b>{{choice}}</b> for campaign <b>{{id}}</b> is now <b>{{bid}}</b>.
        <br>
        <br>
        Full list of {{choice}}:
        <br>
        <br>
        <table>
            {% for key,value in redis.items() %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
            {% endfor %}
        </table>

    {%else %}

        All information in the algorithm remains the same.

    {% endif %}

<p>
<IMG SRC={{dog}} ALIGN="BOTTOM">

{% endblock %}
