{% extends "home.html" %}

{% block header %}<H1>Update algo</H1>{% endblock %}
{% block content %}

    {% if step == 2 %}
      The upload was successful.<br>
The following changes have been made in <b>{{DSP}}</b> campaign <b>{{id}}</b>:
    <br><br>



    <table border="1">
        <tr>
            <td><b>Field</b></td>
            <td><b>Old Value</b></td>
            <td><b>New Value</b></td>
        </tr>
        {% for x in range(0,rows) %}
        <tr>
            <td>{{changes[x]}}</td>
            <td>{{olds[x]}}</td>
            <td>{{news[x]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    All other information in the algorithm remains the same. <br>
    {% endif %}

    {% if step == 1 %}
      Information for <b>{{DSP}}</b> campaign <b>{{id}}</b>:.<br>
    <br><br>

    <table border="1">
        <tr>
            <td>Field</td>
            <td>Value</td>
        </tr>
        {% for key, value in info.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    To make changes, simply add them below and click <b>Update</b>.<br>
    {% endif %}

<form action="/" method="post">
  <dl>

        {{ render_field(form.dsp) }}
        {{ render_field(form.campaignID) }}


      <form action="/" method="post"><p><input type=submit id="get-info" value="Get Information">
      <br><small><i>Note: check all fields are clear (you can use the clear button) before requesting info.</small></i><br>

        {{ render_field(form.status) }}
        {{ render_field(form.curbid) }}
        {{ render_field(form.maxbid) }}
        {{ render_field(form.minbid) }}
        {{ render_field(form.frequency_cap) }}

  </dl>
  <p>

<input type=reset value=Clear>
<input type=submit value=Update>
{% endblock %}