{% extends "home.html" %}

{% block header %}<H1>Update algo</H1>{% endblock %}
{% block content %}

    {% if step == 2 %}
      The upload was {{term}}.<br>
        The <b>{{choice}}</b> for {{DSP}} campaign <b>{{id}}</b> has been changed to <b>{{bid}}</b> (from <b>{{oldbid}}</b>).
        <br><br>
        All other information in the algorithm remains the same. <br>
    {% endif %}

<form action="/" method="post">
  <dl>

    {% if step == 1 %}

        {{render_field(choice)}}

    {%else %}

        {{ render_field(form.campaignID) }}
        {{ render_field(form.choice) }}
        {{ render_field(form.dsp) }}

    {% endif %}

  </dl>
  <p><input type=submit value=Update>

<a href="/">Clear</a>
{% endblock %}