<HTML xmlns="http://www.w3.org/1999/html">
<HEAD>
<TITLE>Supply Algo UI</TITLE>
     <!--<link rel="stylesheet" href="/static/scripts/skeleton.css">-->
    <!--<link rel="stylesheet" href="/static/scripts/normalize.css">-->
    <script type="text/javascript" src="/static/scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript">
 $("#get-info").click(
     function ()
     {
         $("#get-info").hide();
     }
);
    </script>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<CENTER><IMG SRC="/static/images/large.jpg" ALIGN="BOTTOM"> </CENTER>
<HR>

{% block header %}<H1>Update algo</H1>{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}

{% block content %}

{% endblock %}
<HR>
</BODY>
</HTML>
